<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Wins</th>
      <th scope="col">Losses</th>
      <th scope="col">Win Percentage</th>
    </tr>
  </thead>
  <tbody *ngFor="let player of players; let i = index;">
    <tr>
      <th scope="row">{{i + 1}}</th>
      <td>{{player.firstname}}</td>
      <td>{{player.lastname}}</td>
      <td>{{player.wins}}</td>
      <td>{{player.losses}}</td>
      <td>{{(player.winPercentage ? player.winPercentage : 0) | number : '1.0-2'}}%</td>
    </tr>
  </tbody>
</table>

<app-add-player-modal (onPlayerCreated)="addPlayer($event)"></app-add-player-modal>
