<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Create new player
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new player</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" [(ngModel)]="player.firstname" name="firstname" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="Enter your first name">
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" [(ngModel)]="player.lastname" name="lastname" class="form-control" id="lastname" aria-describedby="emailHelp" placeholder="Enter your last name">
          </div>
          <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
          <!--<button type="submit" class="btn btn-primary" (click)="createPlayer()">Create</button>-->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="createPlayer()">Create</button>
      </div>
    </div>
  </div>
</div>
