.play-container {
  padding-top: 15px;

  .active {
    background-color: #17a2b8 !important;
    color: white !important;
  }

  .inactive {
    color: darkgrey !important;
    pointer-events: none;
  }

  .play-error {
    color: red;
  }
}
