<div class="container play-container">
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ player1.id >= 1 ? this.player1.firstname + " " + this.player1.lastname : "Player 1" }}
          </button>
          <div class="dropdown-menu">
            <a *ngFor="let player of players" class="dropdown-item" (click)="choosePlayer(player, 1)"
               [ngClass]="{'inactive': player.id === player2.id, 'active': player.id === player1.id}">
              {{player.firstname + " " + player.lastname}}
            </a>
          </div>
        </div>
        <input type="number" [ngModel]="score1" (input)="setScore($event.target.value, 1)" min="0" max="21" class="form-control" aria-describedby="score">
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ player2.id >= 1 ? this.player2.firstname + " " + this.player2.lastname : "Player 2" }}
          </button>
          <div class="dropdown-menu">
            <a *ngFor="let player of players" class="dropdown-item" (click)="choosePlayer(player, 2)"
               [ngClass]="{'inactive': player.id === player1.id, 'active': player.id === player2.id}">
              {{player.firstname + " " + player.lastname}}
            </a>
          </div>
        </div>
        <input type="number" [ngModel]="score2" (input)="setScore($event.target.value, 2)" min="0" max="21" class="form-control" aria-describedby="score">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span *ngIf="error" class="play-error">{{error}}</span>
    </div>
    <div class="col">
      <button class="btn btn-success" type="button" (click)="play()">Play</button>
    </div>
  </div>
</div>
